{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Nicholas Roggenkamp -- Gallery</title>
<!--
This is a comment. Comments are not displayed in the browser
&nbsp; ==> 1 unbreakable space character
&ensp; ==> 2 spaces
&emsp; ==> 4 spaces
-->


<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Gallery of Nicholas Roggenkamp."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>

<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
        
            
            <div id="name">
                <h1 class="quickFade delayTwo">Gallery</h1>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Informational Packages</h1>
                        
                    </div>
                    
                    <div class="sectionContent">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lTBudgWT5S0?si=adfmE5EU86UJuEuN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fu5L8CmolvU?si=WnhnldvY1C6rqTRC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </article>
                <div class="clear"></div>
            </section>
            
            <section>
                <div class="sectionTitle">
                    <h1>Music Videos</h1>
                </div>
                
                <div class="sectionContent">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VkCBLvR6L1o?si=NGemjrBkkFOcxK5O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="clear"></div>
            </section>
            
            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>
                
                <div class="sectionContent">
                    <article>
                        <h2>Title, Company</h2>
                        <p class="subDetails">Location</p>
                        <p class="subDetails">[start date] - Present</p>
                        <ul class="bullet">
                            <li>List Important Bullets</li>
                            <li>Use Action Verbs</li>
                            <li>Make yourself look good</li>
                           
                        </ul>
                    </article>
                    
                    
                </div>
                <div class="clear"></div>
            </section>
            
            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>
                
                <div class="sectionContent">
                    <article>
                        <h2>High School</h2>
                        <p class="subDetails">2020-Present</p>
                        <ul class = "list">
                            <li>ICC & Academic Honors</li>
                            <li>Expected Graduation: May 2024</li>
                        </ul>
                        
                    </article>
                </div>
    
    
                <div class="sectionContent">
                    <article>
                        <h2>University</h2>
                        <p class="subDetails">Expected Start Date</p>
                        <p>Expected Degree and date of awarding</p>
                    </article>
                    
    
                </div>
                <div class="clear"></div>
            </section>
            
            <section>
                <div class="sectionTitle">
                    <h1>References</h1>
                </div>
                <div class="sectionContent">
                    <article>
                        <h2>Reference name</h2>
                            <ul class="list">
                                <li>Title </li>
                                <li>Company </li>
                                <!--
                                <li>557 Renz Avenue 
                                    <br> Sellersburg, Indiana 47172</li>
                                -->
                                <li>email </li>
                                <li>phone <br> &emsp; </li>
                                <p>Blurb for reference (optional--this is not always done on other resumes)</p>
                            </ul>
                    </article>
                    
                </div>
                <div class="clear"></div>
            </section>
    
        </div>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3753241-1");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
    </body>
    </html>


